{% load static %}
<section class="footmain">
  <div class="row footer">
    <div class="four columns left">
      <p><i class="fa fa-copyright" aria-hidden="true"></i> 2016 diaBEATthis<br>
      <span>Zach Ferguson, Ashley Massengill, Maks Tymtsiv</span></p>
    </div>
    <div class="four columns middle">
      <p><a href="../faq/#aboutApp">About diaBEATthis</a></p>
    </div>
    <div class="four columns right">
      <p><a href="mailto:contact.diabeatthis@gmail.com">Email Us</a></p>
    </div>
  </div>
</section>
