{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- high charts calls -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="https://code.highcharts.com/modules/funnel.js"></script>

  <title>diaBEATthis</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static '/images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/images/favicons/safari-pinned-tab.svg' %}" color="#99dce4">
    <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- remodal -->
  <link rel="stylesheet" href="{% static '/css/remodal.css' %}">
  <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">

  <!-- fontawesome -->
  <script src="https://use.fontawesome.com/f0fffec6a9.js"></script>

  <!-- normal css -->
  <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static '/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

  <!-- header nav -->
<section>
  <div id="header"></div>
</section>
<!-- body content -->
<section class="dashboard">
  <div class="row">

    <!-- profile photo -->
    <div class="three columns">
    <img src="{% static user.profile.avatar %}" class="profilephoto"></img>
    <!-- log navigation -->
    <ul class="lognav">
		<li><img src="{% static 'images/glucoselog_icon.svg' %}" alt="Log Glucose">&nbsp;<a href="#modalGlucose">Log Glucose</a></li>
        <li><img src="{% static 'images/insulinlog_icon.svg' %}" alt="Log Insulin">&nbsp;<a href="#modalInsulin">Log Insulin</a></li>
        <li><img src="{% static 'images/waterlog_icon.svg' %}" alt="Log Water">&nbsp;<a href="#waterIntake">Log Water</a></li>
        <li><img src="{% static 'images/stepslog_icon.svg' %}" alt="Log Steps">&nbsp;<a href="#stepsTaken">Log Steps</a></li>
    </ul>
  </div>

    <!-- glucose chart -->
    <div class="nine columns" id="glucoseChart">
        <div class="datePicker glucoseDate">
          <span>Week:</span>
          <input id="glucoseWeek" Value="{% now 'Y-\W\0W' %}" type="week" name="week">
          <input id="glucoseWeekSubmit" type="submit" class="buttonSmall">
        </div>
        <div class="glucoseLegend">
          <p><i class="fa fa-square redSquare" aria-hidden="true"></i> Dangerously Low <i class="fa fa-square orangeSquare" aria-hidden="true"></i> Borderline Low<br class="displayMedia"> <i class="fa fa-square tealSquare" aria-hidden="true"></i> Safe Level <i class="fa fa-square redtransSquare" aria-hidden="true"></i> Too High</p>
        </div>
        <div id="containerGlucose" style="min-width: 310px; height: 375px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">

    <div class="three columns">

      <div class="remindersInfo">
        <div class="remindersData">
          <h5>Reminders</h5>
<iframe src="https://calendar.google.com/calendar/embed?src={{user.profile.calendar_id}}&ctz=America/New_York" style="border: 0" width="200" height="200" frameborder="0" scrolling="no"></iframe>
        </div>
        <a href="../profile/#thirdParty">Edit Reminders</a>
      </div>

      <!-- glucose modal -->
      <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modalGlucose">
          <h3>What is your Glucose Level?</h3>
          <form>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="glucoseLevel">mg/dL</label>
                <input class="u-full-width" type="number" placeholder="0" id="glucoseLevel" name="glucoseLevel">
              </div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="glucoseDateTime">Date/Time (e.g. 01/01/2017, 08:00 AM)</label>
                <input class="u-full-width" value="{% now 'Y-m-d\TH:i' %}" type="datetime-local" id="glucoseDateTime" name="glucoseDateTime">
              </div>
            </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>
      <!-- insulin modal -->
      <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modalInsulin">
          <h3>How much Insulin did you take?</h3>
          <form>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="insulinLevel">units</label>
                <input class="u-full-width" type="number" placeholder="0" id="insulinLevel" name="insulinLevel">
              </div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="insulinDateTime">Date/Time (e.g. 01/01/2017, 08:00 AM)</label>
                <input class="u-full-width" value="{% now 'Y-m-d\TH:i' %}"  type="datetime-local" id="insulinDateTime" name="insulinDateTime">
              </div>
            </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>
      <!-- water modal -->
      <div class="remodal-bg">
        <div class="remodal" data-remodal-id="waterIntake">
          <h3>How water have you had to drink?</h3>
          <p>Daily Goal: {{ user.profile.water_goal }} cups</p>
          <br>
          <form>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="waterIntake">cups</label>
                <input class="u-full-width" type="number" placeholder="0" id="waterIntake" name="waterIntake">
              </div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="waterIntake">Quick add cups</label>
                <select class="u-full-width" id="waterSize" name="waterIntake">
                  <option value="1">1 glass (8 fl oz/1 cup)</option>
                  <option value="2">1 bottle (16 fl oz/2 cups)</option>
                  <option value="3">1 lg bottle (24 fl oz/3 cups)</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="waterDateTime">Date/Time (e.g. 01/01/2017, 08:00 AM)</label>
                <input class="u-full-width" value="{% now 'Y-m-d\TH:i' %}" type="datetime-local" id="waterDateTime" name="waterDateTime">
              </div>
            </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>
      <!-- steps modal -->
      <div class="remodal-bg">
        <div class="remodal" data-remodal-id="stepsTaken">
          <h3>How many steps have you taken today?</h3>
          <p>Daily Goal: {{ user.profile.steps_goal }} steps</p>
          <br>
          <form>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="stepsTaken">Total Steps</label>
                <input class="u-full-width" type="number" placeholder="0" id="stepsTaken" name="stepsTaken">
              </div>
            </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>

    </div>

    <!-- insulin chart -->
    <div class="nine columns">

      <div class="datePicker">
        <span>Week:</span>
        <input id="insulinWeek" Value="{% now 'Y-\W\0W' %}" type="week" name="week">
        <input id="insulinWeekSubmit" type="submit" class="buttonSmall">
      </div>
      <div id="containerInsulin" style="min-width: 310px; height: 375px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">

    <!-- empty column -->
    <div class="three columns"></div>

    <!-- water chart -->
    <div class="nine columns">
      <div class="four columns" id="waterChart">
        <div class="datePicker">
          <span>Day:</span>
          <input id="waterDay" value="{% now 'Y-m-d' %}" type="date" name="date">
          <input id="waterDateSubmit" type="submit" class="buttonSmall">
        </div>
        <div id="containerWater" style="min-width: 300px; height: 300px; margin: 0 auto">
        </div>
      </div>

      <!-- activity chart -->
    <div class="seven columns">
      <div class="datePicker">
        <span>Day:</span>
        <input id="activityDay" value="{% now 'Y-m-d' %}" type="date" name="date">
        <input id="activityDateSubmit" type="submit" class="buttonSmall">
      </div>
      <div id="stepsChart" style="height:300px;"></div>
    </div>
    </div>
  </div>

</section>

<input type="hidden" id="stepsGoal" value='{{user.profile.steps_goal}}'>
<input type="hidden" id="waterGoal" value='{{user.profile.water_goal}}'>
<input type="hidden" id="userId" value='{{user.profile.id}}'>
<input type="hidden" id="currentDate" value="{% now 'Y-m-d' %}">

<!-- footer nav -->
  <section>
  <div id="footer"></div>
  </section>

  <!-- standard jQuery calls -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
  <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>

  <script src="{%  static '/js/script.js' %}"></script>
  <script src="{% static '/js/googlecal.js' %}"></script>
  <script src="{% static '/js/googleinsert.js' %}"></script>


  <!-- remodal -->
  <script src="{% static '/js/remodal.min.js' %}"></script>

<!-- header & footer calls -->
  <script>$(document).ready(function(){
     $('#header').load('../header_loggedin');
   });</script>
   <script>$(document).ready(function(){
     $('#footer').load('../footer');
 });</script>

</body>

</html>
