{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>diaBEATthis</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static '/images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/images/favicons/safari-pinned-tab.svg' %}" color="#99dce4">
    <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- normal css -->
  <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static '/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

  <!-- header nav -->
  <section>
  <div id="header"></div>
  </section>

  <div class="hero1">
    <div class="row herotext1">
      <div>
        <h2>An app to help you manage your diabetes,</h2>
        <h3>so it can't manage you.</h3>
      </div>
    </div>
  </div>

  <div class="indexMiddle">
    <div class="row">
      <div class="six columns">
        <img src="{% static 'images/indexMobile.png' %}" class="indexMobile" alt="mobile phones">
      </div>
      <div class="six columns indexMiddleText">
        <h4>Manage Your Diabetes on the Go</h4>
        <h6>Track your glucose and insulin levels wherever you are. Make sure you're drinking enough water and getting excercise every day.</h6>
        <br>
        <h4>Never Forget to Test</h4>
        <h6>Set up reminders within the app and have your calendar alert you to test your glucose whether you're sitting at your desk, or on the go.</h6>
        <br>
        <h4>See Your Improvement Trends</h4>
        <h6>Watch as your ability to manage your diabetes improves over time. Our built in charts show you when you're glucose levels are unsafe, and when you're in charge.</h6>
        <br>
        <h4>Make Managing Diabetes Easy</h4>
        <h6>Log your numbers and watch your charts automatically change. Get access to support information right at your fingertips. Update your personal information with the click of a button.</h6>
      </div>
    </div>
  </div>

  <div class="hero2">
    <div class="row">
      <div class="six columns offset-by-three herotext2">
        <h1>You can control your diabetes.</h1>
      </div>
    </div>
  </div>

  <!-- footer nav -->
  <section>
  <div id="footer"></div>
  </section>

  <!-- standard jQuery calls -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static '/js/script.js' %}"></script>
  <script src="{%  static '/js/header.js' %}"></script>


  <!-- header & footer calls -->
  <script>$(document).ready(function(){
     $('#header').load('../header_loggedin');
   });</script>
   <script>$(document).ready(function(){
     $('#footer').load('../footer');
   });</script>
</body>

</html>
