{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>diaBEATthis</title>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static '/images/favicons/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static '/images/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static '/images/favicons/safari-pinned-tab.svg' %}" color="#99dce4">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- remodal -->
  <link rel="stylesheet" href="{% static '/css/remodal.css' %}">
  <link rel="stylesheet" href="{% static '/css/remodal-default-theme.css' %}">

  <!-- normal css -->
  <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static '/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

  <!-- header nav -->
<section>
  <div id="header"></div>
</section>

<!-- body content -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

  <section class="profilesettings">
    <div class="row">
      <!-- profile photo -->
      <div class="three columns avatarDiv">
          <img src="{% static user.profile.avatar %}" class="profilephoto"></img>
        <div>
          <input name="avatar" type="file" class="avatar profileForm"></input>
        </div>

        <!-- reset password -->
        <br><br>
        <div class="resetPassword">
          <a href="#modalPassword">Change Your Password</a>
        </div>
        <!-- reset password modal-->
        <div class="remodal-bg">
          <div class="remodal" data-remodal-id="modalPassword">
            <h3>Change your password</h3>
            <!-- <form> -->
              <div class="row">
                <div class="six columns offset-by-three columns">
                  <label for="password">Enter your new password</label>
                  <input class="u-half-width" type="password" value="{{ user.password }}" id="password" name="password">
                </div>
              </div>
              <div class="row">
                  <div class="six columns offset-by-three columns">
                    <label for="password">Re-enter your new password</label>
                    <input class="u-half-width" type="password" value="{{ user.password }}" id="password" name="password1">
                </div>
              </div>
            <br>
            <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
            <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>

      </div>
      <!--  profile header -->
      <div class="nine columns">
        <div class="profileHeader">
          <h5>{{ user.first_name }}, this is what you've told us about yourself:</h5>
        </div>
        <!-- header buttons -->
        <div class="headerButtons">
          <button type="button" name="edit" class="buttonLeft">Edit</button>
          <button type="submit" name="save" class="buttonRight">Save</button>
        </div>
        <!-- <form> -->
        <!-- first name -->
          <div class="six2 columns clearFloat">
            <label for="firstName">Your first name</label>
            <p class="profileData">{{ user.first_name }}</p>
            <input name="first_name" value="{{ user.first_name }}" class="u-full-width profileForm" type="text" placeholder="First Name" id="firstName">
          </div>
          <!-- last name -->
          <div class="six2 columns">
            <label for="lastName">Your last name</label>
            <p class="profileData">{{ user.last_name }}</p>
            <input class="u-full-width profileForm" value="{{ user.last_name }}" type="text" placeholder="Last Name" id="lastName" name="last_name">
          </div>
          <!-- email -->
          <div class="twelve2 columns">
            <label for="email">Your email address (this is your user id also)</label>
            <p class="profileData">{{ user.email }}</p>
            <input class="u-full-width profileForm" value="{{ user.email }}" type="text" placeholder="Email Address" id="email" name="email">
          </div>
          <!-- date of birth -->
          <div class="four2 columns">
            <label for="birthday">Your birthday</label>
            <p>{{ user.profile.dob|date:"Y-m-d" }}</p>
            <input class="u-full-width hiddenField" value="{{ user.profile.dob|date:"Y-m-d" }}" type="date" placeholder="Age" id="birthday" name="dob">
          </div>
          <!-- height -->
          <div class="four2 columns">
            <label for="height">How tall you are</label>
            <p class="profileData">{{ user.profile.height }} inches</p>
            <input name="height" class="u-full-width profileForm" value="{{ user.profile.height }}" type="number" placeholder="Height (in)" id="height">
          </div>
          <!-- weight -->
          <div class="four2 columns">
            <label for="weight">How much you weigh</label>
            <p class="profileData">{{ user.profile.weight }} pounds</p>
            <input class="u-full-width profileForm" value="{{ user.profile.weight }}" type="number" placeholder="Weight (lbs)" id="weight" name="weight">
          </div>
          <!-- sex -->
          <div class="four2 columns">
           <label for="sex">What your biological sex is</label>
           <p>{{ user.profile.get_sex_display }}</p>
           <select class="u-full-width hiddenField" id="sex" name="sex">
             <option value="{{ user.profile.sex }}">{{ user.profile.get_sex_display }}</option>
             <option value="M">Male</option>
             <option value="F">Female</option>
             <option value="O">Other</option>
           </select>
         </div>
         <!-- race -->
         <div class="four2 columns">
          <label for="race">What race you identify as</label>
          <p>{{ user.profile.get_race_display }}</p>
          <select name="race" class="u-full-width hiddenField" id="race" placeholder="Race" value="{{ user.profile.race }}">
            <option value="{{ user.profile.race }}">{{ user.profile.get_race_display }}</option>
            <option value="AA">African American</option>
            <option value="AI">American Indian</option>
            <option value="A">Asian</option>
            <option value="L">Latino</option>
            <option value="ME">Middle Eastern</option>
            <option value="NH">Native Hawaiian</option>
            <option value="SA">South Asian/Indian</option>
            <option value="W">Non-Hispanic White</option>
          </select>
        </div>
    </div>
  </div>
  <!-- section divider line -->
  <div class="row">
    <div class="three columns"></div>
    <div class="nine columns breakline"></div>
  </div>
  <!-- blank div -->
  <div class="row">
    <div class="three columns"></div>
    <!-- settings -->
    <!-- water goal -->
    <div class="three columns">
      <label for="waterGoal">Select a daily goal for drinking water</label>
      <p class="profileData">{{ user.profile.water_goal }} cups</p>
      <select class="u-full-width profileForm" id="waterGoal" name="water_goal">
        <option value="{{ user.profile.water_goal }}">{{ user.profile.water_goal }} cups</option>
        <option value="8">8 cups</option>
        <option value="10">10 cups</option>
        <option value="12">12 cups</option>
      </select>
    </div>
    <!-- steps goal -->
    <div class="three columns">
      <label for="stepsGoal">Select a daily goal for steps walked/run</label>
      <p class="profileData">{{ user.profile.steps_goal }} steps</p>
      <select class="u-full-width profileForm" id="stepsGoal" name="steps_goal">
        <option value="{{ user.profile.steps_goal }}">{{ user.profile.steps_goal }}</option>
        <option value="5000">5,000</option>
        <option value="7500">7,500</option>
        <option value="10000">10,000</option>
      </select>
    </div>
  </div>
<!-- </form> -->
</form>
<!-- section divider line -->
<div class="row">
  <div class="three columns"></div>
  <div class="nine columns breakline"></div>
</div>
  <!-- blank div -->
  <div class="row">
    <div class="three columns">
      <!-- calendar reminders -->
	  <div class="remindersInfo">
        <div class="remindersData">
          <h5>Reminders</h5>
		  <iframe src="https://calendar.google.com/calendar/embed?src={{user.profile.calendar_id}}&ctz=America/New_York" style="border: 0" width="200" height="200" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <!-- api connections -->
    <div class="nine columns" id="thirdParty">
      <img src="{% static  '/images/Google_2015_logo.png' %}" alt="Google Logo" class="thirdpartylogo">
      <button type="button" class="connectapi" id="authorize-button" onclick="handleAuthClick(event)">Connect Google Calendar</button>
      <button type="button" name="button" class="connectapi"><a href="#modalReminders" class="remindersLink">Set Up Reminders</a></button>
      <!-- reminders modal -->
      <div class="remodal-bg">
        <div class="remodal remindersModal" data-remodal-id="modalReminders">
          <h3>Set up your daily testing reminders</h3>
          <!-- <form> -->
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="breakfastReminder">Breakfast Reminder Time:</label>
                <input class="u-full-width" value="{% now 'Y-m-d\Th:i' %}" type="datetime-local" placeholder="0" id="breakfastReminder" name="breakfastReminder">
              </div>
              <div class="five columns ">
                <label for="breakfastDescription">Description</label>
                <input class="u-full-width" type="text" placeholder="Breakfast" id="breakfastDescription" name="breakfastDescription" value="diaBEATthis Breakfast Reminder">
              </div>
              <div class="five columns">
                <label for="breakfastSummary">Summary</label>
                <input class="u-full-width" type="text" placeholder="Summary" id="breakfastSummary" name="breakfastSummary">
              </div>
            </div>
            <div class="row">
              <div class="twelve columns breakline"></div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="lunchReminder">Lunch Reminder Time:</label>
                <input class="u-full-width" value="{% now 'Y-m-d\Th:i' %}" type="datetime-local" placeholder="0" id="lunchReminder" name="lunchReminder">
              </div>
              <div class="five columns ">
                <label for="lunchDescription">Description</label>
                <input class="u-full-width" type="text" placeholder="Lunch" id="lunchDescription" name="lunchDescription" value="diaBEATthis Lunch Reminder">
              </div>
              <div class="five columns">
                <label for="lunchSummary">Summary</label>
                <input class="u-full-width" type="text" placeholder="Summary" id="lunchSummary" name="lunchSummary">
              </div>
            </div>
            <div class="row">
              <div class="twelve columns breakline"></div>
            </div>
            <div class="row">
              <div class="six columns offset-by-three columns">
                <label for="dinnerReminder">Dinner Reminder Time:</label>
                <input class="u-full-width" value="{% now 'Y-m-d\Th:i' %}" type="datetime-local" placeholder="0" id="dinnerReminder" name="dinnerReminder">
            </div>
            <div class="five columns ">
              <label for="dinnerDescription">Description</label>
              <input class="u-full-width" type="text" placeholder="Dinner" id="dinnerDescription" name="dinnerDescription" value="diaBEATthis Dinner Reminder">
            </div>
            <div class="five columns">
              <label for="dinnerSummary">Summary</label>
              <input class="u-full-width" type="text" placeholder="summary" id="dinnerSummary" name="dinnerSummary">
            </div>
          </div>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">Save</button>
        </div>
      </div>

      <br><br class="displayNone">

      <img src="{% static  '/images/Fitbit_logo_RGB.png' %}" alt="Fitbit" class="thirdpartylogo">
      <button type="button" onclick="location.href='/fitbit/login';" class="connectapi">Connect Your Fitbit</button>
    </div>
  </div>
</section>

<!-- keep this until we refactor the calendar javascript -->
<div id="authorize-div" style="display: none"></div>
<input type="hidden" id="userId" value='{{ user.profile.id }}'>
<input type="hidden" id="userCal" value='{{ user.profile.calendar_id }}'>


<!-- footer nav -->
  <section>
  <div id="footer"></div>
  </section>

<!-- google calls -->
  <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
  <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
      </script>

  <!-- standard jQuery calls -->
  <!-- standard jQuery calls -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{%  static '/js/script.js' %}"></script>
  <script src="{% static '/js/profile.js' %}"></script>
  <script src="{%  static '/js/header.js' %}"></script>
  <script src="{% static '/js/googlecal.js' %}"></script>
  <script src="{% static '/js/googleinsert.js' %}"></script>

  <!-- remodal -->
  <script src="{% static '/js/remodal.js' %}"></script>
  <script src="{% static '/js/remodal.min.js' %}"></script>

  <!-- header & footer calls -->
  <script>$(document).ready(function(){
     $('#header').load('../header_loggedin');
   });</script>
   <script>$(document).ready(function(){
     $('#footer').load('../footer');
 });</script>

</body>

<!-- Uses of Fitbit trademarks require agreement to the Fitbit Web API Terms of Service <https://dev.fitbit.com/terms> and trademark guidelines <https://dev.fitbit.com/trademark>. diaBEATthis agrees to the Fitbit Terms of Service. -->

</html>
