{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>diaBEATthis Log In</title>
        <!-- normal css -->
        <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static '/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>

    <body>

      <!-- header nav -->
    <section>
      <div id="header"></div>
    </section>

      <section class="login">
        <!-- login title -->
        <div class="row center">
          <div class="four2 columns offset-by-four columns">
            <h4>Sign in to your account</h4>
          </div>
        </div>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
          <!-- email address -->
          <div class="row">
            <div class="four2 columns offset-by-four columns">
              <label for="email">Email Address</label>
              <input class="u-full-width" value="{{ user.username }}" type="text" placeholder="Email Address" id="email" name="username">
            </div>
          </div>
          <!-- password -->
          <div class="row">
            <div class="four2 columns offset-by-four columns">
              <label for="password">Password</label>
              <input class="u-full-width" type="password" placeholder="Password" id="password" name="password">
            </div>
          </div>
            <!-- {% csrf_token %}
            {{ form.as_p }} -->
            <!-- cancel/submit buttons -->
            <div class="row center">
              <div class="four2 columns offset-by-four columns">
                <button type="cancel">Cancel</button>
                <button type="submit">Sign In</button>
              </div>
            </div>
          </form>
        </div>
        <!-- register button -->
        <div class="row center">
          <div class="four2 columns offset-by-four columns">
            <form method="post" action="/register/">
                    {% csrf_token %}
              <input type="submit" value="Register"/>
            </form>
          </div>
        </div>
      </section>

      <!-- footer nav -->
        <section>
        <div id="footer"></div>
        </section>

      <!-- standard jQuery calls -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{%  static '/js/script.js' %}"></script>
      <script src="{%  static '/js/header.js' %}"></script>

      <!-- header & footer calls -->
      <script>$(document).ready(function(){
         $('#header').load('../header_loggedin');
       });</script>
       <script>$(document).ready(function(){
         $('#footer').load('../footer');
      });</script>

    </body>
</html>
