.footmain{
  background-color: $graybluetrans;
}

.footer{
  height: 65px;
  width: 90%;
  padding-top: 15px;
  margin: 0 auto;
  font-size: 24px;
  color: $gray;
  a{
    text-decoration: none;
    color: $gray;
  }
  a:hover{
    text-decoration: underline;
    color: $lightblue;
  }
  .left{
    line-height: 18px;
    text-align: left;
    span{
      font-size: 14px;
    }
  }
  .middle{
    text-align: center;
  }
  .right{
    text-align: right;
  }
}
