a{
  text-decoration: none;
  color: $gray;
}
a:hover{
  text-decoration: underline;
  color: $lightblue;
}

.header{
  margin: 0 auto;
  padding: 10px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: $graybluetrans;
  font-size: 24px;
  color: $gray;
  .left img{
    width: 200px;
    object-fit: contain;
  }
  .right{
    text-align: right;
    ul{
      margin: 0px;
      padding-top: 8%;
      li{
        display: inline;
        padding-left: 40px;
      }
    }
  }
}

.menuimg{
  display: none;
}
