.header{
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: $graybluetrans;
  font-size: 24px;
  color: $gray;
  .fullLogo{
    height: 70px;
    object-fit: contain;
  }
  .mobileLogo{
    display: none;
  }
  .right{
    text-align: right;
    .siteNav{
      clear: both;
      ul{
        margin: 0px;
        padding-top: 3%;
        li{
          display: inline;
          padding-left: 40px;
          a{
            text-decoration: none;
            color: $gray;
          }
          a:hover{
            text-decoration: underline;
            color: $lightblue;
          }
        }
      }
    }
  }
}

.menuimg{
  display: none;
}
