.dashboard{
  background-color: $gray;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  .row{
    margin: 0 auto;
    width: 85%;
    .columns{
      box-sizing: border-box;
      // background: white;         //don't forget to erase this!!
      // height: 200px;
      margin: .75%;
    }
  }
}

.profilephoto{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.lognav{
  padding-top: 10px;
  li{
    list-style: none;
    a{
      text-decoration: none;
      color: $navy;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
      color: $teal;
    }
  }
}
