.dashboard{
  background-color: $gray;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  .row{
    margin: 0 auto;
    width: 85%;
    .columns{
      box-sizing: border-box;
      margin: .75%;
    }
  }
}

.profilephoto{
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid $navy;
}

.lognav{
  padding-top: 10px;
  li{
    list-style: none;
    a{
      text-decoration: none;
      color: $navy;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
      color: $teal;
    }
  }
}

.remindersInfo{
  .remindersData{
    max-width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $navy;
    ul{
      list-style: none;
      li{
        font-size: 1.2em;
      }
    }
  }
  a{
    text-decoration: none;
    color: $navy;
    font-size: 20px;
  }
  a:hover{
    text-decoration: underline;
    color: $teal;
  }
}

.glucoseDate{
  float: left;
}

.glucoseLegend{
  float: right;
  .redSquare{
    color: $red;
  }
  .purpleSquare{
    color: $purple;
  }
  .tealSquare{
    color: $teal;
  }
}

.containerGlucose{
  clear: both;
}

#container-speed{
  margin-left: 5px;
}
