.dashboard{
  background-color: $gray;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  .row{
    margin: 0 auto;
    width: 85%;
    .columns{
      box-sizing: border-box;
      margin: .75%;
    }
  }
}

.profilephoto{
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid $navy;
}

.lognav{
  padding-top: 10px;
  li{
    list-style: none;
    img{
      height: 43px;
      vertical-align: middle;
      }
    a{
      text-decoration: none;
      color: $navy;
      font-size: 20px;
      vertical-align: middle;
    }
    a:hover{
      text-decoration: underline;
      color: $redtrans;
    }
  }
}

.remindersInfo{
  .remindersData{
    max-width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $navy;
    ul{
      list-style: none;
      li{
        font-size: 1.2em;
      }
    }
  }
  a{
    text-decoration: none;
    color: $navy;
    font-size: 20px;
  }
  a:hover{
    text-decoration: underline;
    color: $teal;
  }
}

.glucoseDate{
  float: left;
}

.glucoseLegend{
  float: right;
  .redSquare{
    color: $red;
  }
  .redtransSquare{
    color: $redtrans;
  }
  .tealSquare{
    color: $tealtrans;
  }
  .orangeSquare{
    color: $orangetrans;
  }
}

.displayMedia{
  display: none;
}

.containerGlucose{
  clear: both;
}

#containerGlucose{
  height: 375px;
}

#stepsChart{
  margin-left: 5px;
  width: 560px;
}

.highcharts-axis-title{
  font-size: 18px;
}

.highcharts-yaxis-labels, .highcharts-axis-labels{
  font-size: 14px;
}
