.profilesettings{
  background-color: $gray;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $navy;
  .row{
    margin: 0 auto;
    width: 85%;
    .columns{
      box-sizing: border-box;
      margin: .75%;
    }
  }
}

.profilephoto{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.resetPassword{
  a{
    text-decoration: none;
    color: $navy;
    font-size: 20px;
  }
  a:hover{
    text-decoration: underline;
    color: $teal;
  }
}

.profileHeader{
  display: inline;
  float: left;
}
.headerButtons{
  float: right;
  .buttonRight{
    margin-left: 25px;
    margin-right: 20px;
  }
}

.clearFloat{
  clear: both;
}

form{
   .profileForm{
    display: none;
  }
  p{
    font-size: 1.3em;
    font-weight: 300;
  }
}

.breakline{
  border-top: 1px dotted $navy;
}

.thirdpartylogo{
  height: 60px;
  padding-top: 15px;
}

.connectapi{
  margin-left: 50px;
  margin-bottom: 0px;
}
