.profilesettings{
  background-color: $gray;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $navy;
  .row{
    margin: 0 auto;
    width: 85%;
    .columns{
      box-sizing: border-box;
      margin: .75%;
    }
  }
}

.profilephoto{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.avatar{
  width: 300px;
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-size: 1.2em;
  vertical-align: middle;
  margin-bottom: 0px;
}

.resetPassword{
  a{
    text-decoration: none;
    color: $navy;
    font-size: 20px;
  }
  a:hover{
    text-decoration: underline;
    color: $teal;
  }
}

.profileHeader{
  display: inline;
  float: left;
}
.headerButtons{
  float: right;
  .buttonRight{
    margin-left: 25px;
    margin-right: 20px;
  }
}

.clearFloat{
  clear: both;
}

form{
   .profileForm, .hiddenField{
    display: none;
  }
  p{
    font-size: 1.3em;
    font-weight: 300;
  }
}

.breakline{
  border-top: 1px dotted $navy;
}

.thirdpartylogo{
  width: 150px;
  vertical-align: middle;
}

.connectapi{
  margin-left: 50px;
  margin-bottom: 0px;
}

.remindersLink{
  text-decoration: none;
  color: #555;
}
.remindersLink:hover{
  color: #555;
}

.remindersModal{
  .five.columns{
    margin-left: 6%;
  }
  .twelve.columns{
    margin-top: 3px;
    margin-bottom: 9px;
  }
}
