$teal: #248C96;
$tealtrans: rgba(36, 140, 150, .75);
$lightblue: #99DCE4;
$lightbluetrans: rgba(153, 220, 228, .85);
$grayblue: #5A6D75;
$graybluetrans: rgba(90, 109, 117, .825);
$navy: #091019;
$gray: #F2F2F2;
$red: #FB1111;
$purple: #904F54;
$violet: #C53032;
