.dashboard {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .dashboard .row {
    margin: 0 auto;
    width: 85%; }
    .dashboard .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #091019; }

.lognav {
  padding-top: 10px; }
  .lognav li {
    list-style: none; }
    .lognav li a {
      text-decoration: none;
      color: #091019;
      font-size: 20px; }
    .lognav li a:hover {
      text-decoration: underline;
      color: #248C96; }

.remindersInfo .remindersData {
  max-width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #091019; }
  .remindersInfo .remindersData ul {
    list-style: none; }
    .remindersInfo .remindersData ul li {
      font-size: 1.2em; }
.remindersInfo a {
  text-decoration: none;
  color: #091019;
  font-size: 20px; }
.remindersInfo a:hover {
  text-decoration: underline;
  color: #248C96; }

a {
  text-decoration: none;
  color: #F2F2F2; }

a:hover {
  text-decoration: underline;
  color: #99DCE4; }

.header {
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgba(65, 94, 111, 0.7);
  font-size: 24px;
  color: #F2F2F2; }
  .header .left img {
    height: 70px;
    object-fit: contain; }
  .header .right {
    text-align: right; }
    .header .right ul {
      margin: 0px;
      padding-top: 3%; }
      .header .right ul li {
        display: inline;
        padding-left: 40px; }

.menuimg {
  display: none; }

.footmain {
  background-color: rgba(65, 94, 111, 0.7); }

.footer {
  height: 65px;
  width: 90%;
  padding-top: 15px;
  margin: 0 auto;
  font-size: 24px;
  color: #F2F2F2; }
  .footer .left {
    line-height: 18px;
    text-align: left; }
    .footer .left span {
      font-size: 14px; }
  .footer .middle {
    text-align: center; }
  .footer .right {
    text-align: right; }
    .footer .right a {
      text-decoration: none;
      color: #F2F2F2; }
    .footer .right a:hover {
      text-decoration: underline;
      color: #99DCE4; }

.profilesettings {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .profilesettings .row {
    margin: 0 auto;
    width: 85%; }
    .profilesettings .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain; }

.profileHeader {
  display: inline; }

.buttonLeft {
  margin-left: 200px; }

.buttonRight {
  margin-left: 25px; }

.breakline {
  border-top: 1px dotted #091019; }

.thirdpartylogo {
  height: 60px;
  padding-top: 15px; }

.connectapi {
  margin-left: 50px;
  margin-bottom: 0px; }

.infoPage {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #F2F2F2; }
  .infoPage .row {
    width: 75%;
    margin: 0 auto; }
    .infoPage .row h4 {
      text-decoration: underline; }

.infoBreak {
  margin-bottom: 25px; }

.aboutApp a {
  color: #091019; }
.aboutApp a:hover {
  color: teal; }

.resources a {
  text-align: center; }
  .resources a .resourcesimg {
    height: 120px; }
.resources ul {
  list-style: none; }

.profilesettings {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .profilesettings .row {
    margin: 0 auto;
    width: 85%; }
    .profilesettings .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain; }

.submit {
  margin: 0 auto;
  text-align: center; }

#user_form {
  margin: 0px;
  padding: 0px; }

.login {
  padding-top: 120px;
  padding-bottom: 120px; }

.center {
  text-align: center; }

body {
  font-family: 'hevetica neue', helvetica, sans-serif;
  background-color: #F2F2F2; }

p {
  margin: 0px; }

h6 {
  font-size: 1.8rem; }

/*# sourceMappingURL=style.css.map */
