.header {
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgba(90, 109, 117, 0.825);
  font-size: 24px;
  color: #F2F2F2; }
  .header .fullLogo {
    height: 70px;
    object-fit: contain; }
  .header .mobileLogo {
    display: none; }
  .header .right {
    text-align: right; }
    .header .right .siteNav {
      clear: both; }
      .header .right .siteNav ul {
        margin: 0px;
        padding-top: 3%; }
        .header .right .siteNav ul li {
          display: inline;
          padding-left: 40px; }
          .header .right .siteNav ul li a {
            text-decoration: none;
            color: #F2F2F2; }
          .header .right .siteNav ul li a:hover {
            text-decoration: underline;
            color: #99DCE4; }

.menuimg {
  display: none; }

.footmain {
  background-color: rgba(90, 109, 117, 0.825); }

.footer {
  height: 65px;
  width: 90%;
  padding-top: 15px;
  margin: 0 auto;
  font-size: 24px;
  color: #F2F2F2; }
  .footer a {
    text-decoration: none;
    color: #F2F2F2; }
  .footer a:hover {
    text-decoration: underline;
    color: #99DCE4; }
  .footer .left {
    line-height: 18px;
    text-align: left; }
    .footer .left span {
      font-size: 14px; }
  .footer .middle {
    text-align: center; }
  .footer .right {
    text-align: right; }

.profilesettings {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .profilesettings .row {
    margin: 0 auto;
    width: 85%; }
    .profilesettings .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain; }

.submit {
  margin: 0 auto;
  text-align: center; }

#user_form {
  margin: 0px;
  padding: 0px; }

.login {
  padding-top: 120px;
  padding-bottom: 120px; }

.center {
  text-align: center; }

.cancelButton a {
  text-decoration: none;
  color: #555; }

.dashboard {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .dashboard .row {
    margin: 0 auto;
    width: 85%; }
    .dashboard .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #091019; }

.lognav {
  padding-top: 10px; }
  .lognav li {
    list-style: none; }
    .lognav li img {
      height: 43px;
      vertical-align: middle;
      padding-right: 1.75%; }
    .lognav li a {
      text-decoration: none;
      color: #091019;
      font-size: 20px;
      vertical-align: middle; }
    .lognav li a:hover {
      text-decoration: underline;
      color: rgba(251, 17, 17, 0.75); }

.remindersInfo .remindersData {
  max-width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #091019; }
  .remindersInfo .remindersData ul {
    list-style: none; }
    .remindersInfo .remindersData ul li {
      font-size: 1.2em; }
.remindersInfo a {
  text-decoration: none;
  color: #091019;
  font-size: 20px; }
.remindersInfo a:hover {
  text-decoration: underline;
  color: #248C96; }

.glucoseDate {
  float: left; }

.glucoseLegend {
  float: right; }
  .glucoseLegend .redSquare {
    color: #FB0000; }
  .glucoseLegend .redtransSquare {
    color: rgba(251, 17, 17, 0.75); }
  .glucoseLegend .tealSquare {
    color: rgba(36, 140, 150, 0.75); }
  .glucoseLegend .orangeSquare {
    color: rgba(255, 163, 25, 0.9); }

.displayMedia {
  display: none; }

.containerGlucose {
  clear: both; }

#containerGlucose {
  height: 375px; }

#stepsChart {
  margin-left: 5px;
  width: 560px; }

.highcharts-axis-title {
  font-size: 18px; }

.highcharts-yaxis-labels, .highcharts-axis-labels {
  font-size: 14px; }

.mobileNav {
  display: none;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #5A6D75; }
  .mobileNav .lognavMobile {
    list-style: none;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: center; }
    .mobileNav .lognavMobile li {
      display: inline;
      padding: 10px; }
      .mobileNav .lognavMobile li img {
        height: 70px; }

.profilesettings {
  background-color: #F2F2F2;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #091019; }
  .profilesettings .row {
    margin: 0 auto;
    width: 85%; }
    .profilesettings .row .columns {
      box-sizing: border-box;
      margin: .75%; }

.profilephoto {
  height: 200px;
  width: 200px;
  object-fit: contain; }

.avatar {
  width: 300px;
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-size: 1.2em;
  vertical-align: middle;
  margin-bottom: 0px; }

.resetPassword a {
  text-decoration: none;
  color: #091019;
  font-size: 20px; }
.resetPassword a:hover {
  text-decoration: underline;
  color: #248C96; }

.profileHeader {
  display: inline;
  float: left; }

.headerButtons {
  float: right; }
  .headerButtons .buttonRight {
    margin-left: 25px;
    margin-right: 20px; }

.clearFloat {
  clear: both; }

form .profileForm, form .hiddenField {
  display: none; }
form p {
  font-size: 1.3em;
  font-weight: 300; }

.breakline {
  border-top: 1px dotted #091019; }

.thirdpartylogo {
  width: 150px;
  vertical-align: middle; }

.connectapi {
  margin-left: 50px;
  margin-bottom: 0px; }

.remindersLink {
  text-decoration: none;
  color: #555; }

.remindersLink:hover {
  color: #555; }

.remindersModal .five.columns {
  margin-left: 6%; }
.remindersModal .twelve.columns {
  margin-top: 3px;
  margin-bottom: 9px; }

.infoPage {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #F2F2F2; }
  .infoPage .row {
    width: 75%;
    margin: 0 auto; }
    .infoPage .row h4 {
      text-decoration: underline; }

.infoBreak {
  margin-bottom: 25px; }

.aboutApp a {
  color: #091019; }
.aboutApp a:hover {
  color: teal; }

.resources a {
  text-align: center; }
  .resources a .resourcesimg {
    height: 120px; }
.resources ul {
  list-style: none; }

body {
  font-family: 'hevetica neue', helvetica, sans-serif;
  background-color: #F2F2F2; }

p {
  margin: 0px; }

h6 {
  font-size: 1.8rem; }

.hero1 {
  background: url(../images/indexHero1.png) no-repeat top center;
  background-size: cover;
  height: 700px; }
  .hero1 .herotext1 {
    text-align: center;
    color: #091019;
    position: relative;
    top: 56%;
    transform: translateY(-50%); }

.indexMiddle {
  padding: 3% 7%;
  background-color: white; }
  .indexMiddle .indexMobile {
    height: 650px; }
  .indexMiddle .indexMiddleText {
    height: 650px; }
    .indexMiddle .indexMiddleText h4 {
      font-family: Times, serif; }

.hero2 {
  background: url(../images/indexHero2.png) no-repeat top center;
  background-size: cover;
  height: 100vh; }
  .hero2 .herotext2 {
    text-align: center;
    color: #091019;
    background: rgba(242, 242, 242, 0.85);
    padding: 1%;
    margin-top: 20%; }

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {
  .header {
    padding-top: 2%; }
    .header .left {
      float: left;
      width: 50%;
      box-sizing: border-box; }
    .header .fullLogo {
      display: none; }
    .header .mobileLogo {
      display: block;
      width: 75px;
      object-fit: contain;
      padding-bottom: 2%; }
    .header .right {
      float: right;
      text-align: right;
      width: 50%;
      box-sizing: border-box; }
      .header .right .siteNav ul {
        clear: both; }
        .header .right .siteNav ul li {
          display: block;
          list-style: none;
          line-height: 32px;
          padding-left: 0px;
          margin-bottom: 0px;
          display: none; }
      .header .right .siteNav ul:hover li {
        display: block; }

  .menuimg {
    display: inline-block;
    width: 100px; }

  .footer {
    height: auto;
    font-size: 18px; }
    .footer .left span {
      display: none; }
    .footer .middle {
      text-align: left; }
    .footer .right {
      text-align: left; }

  .indexMiddle .indexMobile {
    height: 350px; }
  .indexMiddle .indexMiddleText {
    height: 100%; }

  .hero2 .herotext2 {
    margin-top: 50%; }

  .login {
    padding-top: 5%;
    font-size: 1.5em; }
    .login h4 {
      font-size: 1.6em; }

  .four2.columns {
    width: 90%; }

  .offset-by-four.columns {
    margin-left: 5%; }

  .dashboardReminders {
    display: none; }

  #containerGlucose {
    height: 90%; }

  #activityDay {
    margin-top: 7px; }

  #stepsChart {
    width: 100%; }

  .glucoseLegend {
    float: left; }

  .displayMedia {
    display: inline; }

  .mobileNav {
    display: block; }

  .headerButtons {
    float: none; }

  .connectapi {
    margin: 1%;
    display: block; }

  .displayNone {
    display: none; }

  .avatarDiv {
    display: none; } }

/*# sourceMappingURL=style.css.map */
